server:
  port: 8085

spring:
  application:
    name: vega-user-service
  main:
    allow-circular-references: true

  datasource:
    url: jdbc:mysql://localhost:3306/vega_user_db
    username: root
    password: ewnlnqwmkssh52
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

jwt:
  secret: rUv4rvWiB848GGv5+xXP/5tzQrgutI0/ZN6tLejDGU+8fnuBRU4cxckkxyvyMDHsobgM3fs086svyvMnkJAC5w==
  expiration: 60000 # 1 minute in milliseconds

logging:
  level:
    com.vega: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
